<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>Add Study Topic</label>
      <input
        type="text"
        class="form-control"
        #TopicName>
    </div>
    <div class="form-group">
      <select class="form-control" #Type>
        <option value="Back-End">Back-end</option>
        <option value="Front-End">Front-end</option>
        <option value="DevOps">DevOps</option>
      </select>
    </div>
    <button
      class="btn btn-primary"
      (click)="onAddTopic(TopicName, Type)">
      Add Topic
    </button>
  </div>
</div>

